html, body, #root {
  min-height: 100%!important;
  height: 100%!important;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
  color: #343a40;
}

.container {
  min-height: 100%!important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.align-left {
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .main {
    width: 100%;
  }
}
