.divStyle {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}

.todoStyle {
  border:solid lightgrey!important;
  border-width: 1px!important;
  border-radius: 10px!important;
  box-shadow: 0 0 3px 3px #e7e7e7;
  width:95%!important;
  cursor: pointer;
  margin: 0 auto!important;
  padding: 0;
}

.listStyle {
  border:solid lightgrey!important;
  border-width: 1px!important;
  border-radius: 25px!important;
  box-shadow: 0 0 3px 3px #e7e7e7;
  width:100%!important;
  cursor: pointer;
  margin: 0 auto!important;
}

.card-body {
  padding:0.7rem!important;
}

.listHomeStyle {
  border:solid lightgrey!important;
  border-width: 1px!important;
  border-radius: 25px!important;
  box-shadow: 0 0 3px 3px #e7e7e7;
  width:100%!important;
  margin: 0 auto!important;
}

.ListItem {
  padding:0!important;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;

}

.ListLink {
  padding: 1rem 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.ListLink h3 {
  font-size: 1.4rem;
}
.DeleteButton {
  width: 100%;
}
/* Done with flex instead */
/* .listItem {
  display: flex!important;
  flex-direction: row!important;
  align-items: center!important;
  justify-content: space-between!important;
} */



/* Mobile first design, Portrait displays under 48em/768px */
.formStyle {
  display: block;
  width: 85%;
  margin: 0 auto;
}


.AddTodo {
  width:100%;
  margin-left:0;
}

.ChangeStatus {
  width:100%;
  margin-left:0;
  margin-top:1rem;
}

.ChecklistStyle {
  margin:1rem 0;
  width:100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.HomeContainer {
  min-height: 87%!important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-content {
  margin: 0 1rem;
  font-size: 1rem!important;
}

.builtwith-content {
  margin: 0 1rem;
  font-size: 1rem!important;
}

.size {
  font-size: 4rem;
  padding:0.25rem 0.25rem;
}

.nginx-svg {
  padding:0.25rem 0.25rem;
  height: 4rem;
  width: 4rem;
  fill:#269539;
}

.aws-svg {
  padding:0.25rem 0.25rem;
  height: 5rem;
  width: 5rem;
  fill:#FF9900;
}

.builtwith {
  border: 2px lightgray solid;
  border-radius: 25px;
  padding:1rem;
  margin:1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.DescText {
  width:100%;
  margin: 1rem 0;
}

.badge {
  font-size: 100%!important;
}

.modal-body {
  padding:0!important;
}

.MarginLeftToggle {
  margin-left:0!important;
}

/* Chrome iPad present/Portrait 48em = 768px */
@media (min-width: 48em) {
  .formStyle {
    display: block;
    width: 50%;
    margin: 0 auto;
  }
  .builtwith {
    border: 2px lightgray solid;
    border-radius: 25px;
    padding:1rem;
    margin: 1rem auto;
    width: 45%;

  }
}

/* Chrome iPad Pro Preset/Portrait 64em = 1024px */
@media (min-width: 64em) {
  .formStyle {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  .ListItem {
    padding:0!important;
    padding-right:1rem!important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
  }

  .listHomeStyle {
    border:solid lightgrey!important;
    border-width: 1px!important;
    border-radius: 25px!important;
    box-shadow: 0 0 3px 3px #e7e7e7;
    width:60%!important;
    margin: 0 auto!important;
  }

  .ListLink {
    padding: 1rem 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .ListLink h3 {
    font-size: 1.75rem;
  }

  .DeleteButton {
    width: auto;
  }

  .listStyle {
    border:solid lightgrey!important;
    border-width: 1px!important;
    border-radius: 25px!important;
    box-shadow: 0 0 3px 3px #e7e7e7;
    width:75%!important;
    cursor: pointer;
    padding: 1.2rem;
    margin: 2rem auto!important;
  }


.badge {
  font-size: 85%!important;
}

.iconify {
  font-size: 3.5rem;
}

.size {
  font-size: 5rem;
  padding:1rem 0.5rem;
}



.nginx-svg {
  margin:1rem 0.5rem;
  height: 5rem;
  width: 5rem;
  fill:#269539;
}

.aws-svg {
  margin:1rem 0.5rem;
  height: 6rem;
  width: 6rem;
  fill:#FF9900;
}
.intro-content {
  margin: 0 30%;
  font-size: 1.2rem!important;
}
  /* .card-body {
    padding:1.25rem!important;
  } */

}

/* HD displays/Landscape 75em = 1200px */
@media (min-width: 75em) {
  .formStyle {
    display: block;
    width: 45%;
    margin: 0 auto;
  }

  .listHomeStyle {
    border:solid lightgrey!important;
    border-width: 1px!important;
    border-radius: 25px!important;
    box-shadow: 0 0 3px 3px #e7e7e7;
    width:60%!important;
    margin: 1rem auto!important;
  }

  .todoStyle {
    border:solid lightgrey!important;
    border-width: 1px!important;
    border-radius: 10px!important;
    box-shadow: 0 0 3px 3px #e7e7e7;
    width:95%!important;
    cursor: pointer;
    margin: 1rem auto!important;
    padding: 0;
  }

  .ChecklistStyle {
    margin-left:1.5rem;
    width:60%!important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .DescText {
    width:75%;
    margin-left:1.5rem;
  }

  .AddTodo {
    width:50%!important;
    margin-left:1.5rem;
  }

  .ChangeStatus {
    width:20%!important;
    margin-left:1rem;
    margin-top:0;
    font-weight: 2rem;
  }

  .builtwith {
    border: 2px lightgray solid;
    border-radius: 25px;
    padding:1rem;
    margin: 1rem auto;
    width: 35%;

  }
  .modal-body {
    padding:1rem!important;
  }

  .MarginLeftToggle {
    margin-left:1.5rem!important;
  }

}

/* Full HD displays/Landscape 120em = 1920px */
@media (min-width: 120em) {
  .formStyle {
    display: block;
    width:35%;
    margin: 0 auto;
  }

  .builtwith {
    border: 2px lightgray solid;
    border-radius: 25px;
    padding:1rem;
    margin: 1rem auto;
    width: 30%;

  }
  .listHomeStyle {
    border:solid lightgrey!important;
    border-width: 1px!important;
    border-radius: 25px!important;
    box-shadow: 0 0 3px 3px #e7e7e7;
    width:60%!important;
    margin: 1.5rem auto!important;
  }
}
